<p>
Computational biologists have used Machine Learning techniques based
on Artificial Neural Networks for decades. New developments in the
Machine Learning field in recent years have revolutionized the
efficiency of Neural Networks and bring us to the era of Deep Learning.
In the news, you can read about Deep Learning beating experts in Go,
Chess and StarCraft, translating texts and speech between languages,
turning the steering wheels of self-driving cars and even to tag
kittens, Not-Hotdogs, and tumours in images. In our field, we have
witnessed such systems reaching competitive accuracy with experienced
radiologists, predicting folding of proteins and calling single
nucleotide polymorphisms in genomic data better than any other method.

In this tutorial we utilize three powerful components that are freely
available for use: TensorFlow is an open source library for deep
learning and machine learning in general. Thanks to the second one,
Google Collaboratory, computational resources needed to train TensorFlow
models are available without cost. And finally, TensorFlow.js, will
enable us to deploy the trained model as a static web page that can be
easily hosted, e.g. on GitHub Pages. We will demonstrate Google
Collaboratory + TensorFlow + TensorFlow.js on two examples:
classification of images (cells & tissues) and classification of genomic
sequences.

The key part of the tutorial will be evaluation and interpretation of
the trained model. What could go wrong and how to diagnose it? We will
start with simple techniques, like measuring the impact of simple
perturbation, and end with an Integrated Gradient method to identify
part of input mostly contribution to the decision, introduced in a paper
“Axiomatic Attribution for Deep Networks”.
</p>
