<p>
Computational Biologists have been using Machine Learning techniques based on Artificial Neural Networks for decades. 
New developments in the Machine Learning field over the past years have revolutionized the efficiency of Neural Networks and brought us to the era of 
Deep Learning. In the news, you can read about Deep Learning beating experts in Go, Chess and StarCraft, translating texts and speech between languages, 
turning the steering wheels of self-driving cars and even to tag kittens, Not-Hotdogs in images. 
In our field, we have witnessed such systems reaching competitive accuracy with experienced radiologists, 
predicting the folding of proteins and calling single nucleotide polymorphisms in genomic data better than any other method.
</p>

<p>
In this tutorial we utilize three powerful components that are freely available for use:
PyTorch is an open-source library for deep learning and machine learning in general. 
Thanks to the second one, Google Collaboratory, computational resources needed to train
PyTorch models are available at no cost. 
And finally, fastai and HuggingFace's transformers libraries will enable us to run complex deep learning models with just a few lines of code. 
</p>
  
<p>
The key part of the tutorial will be several practical examples that can be easily adapted to participants' own data</p>
</p>
